Package: cenditel-beamer-template
Version: 1.0
Architecture: all
Maintainer: David Hernández <david.vzla@gmail.com>
Installed-Size: 112
Depends: texlive
Section: misc
Priority: optional
Homepage: https://github.com/davidhdz/cenditel-beamer-template
Description: CENDITEL Beamer template
 Beamer template for the Fundacion Centro Nacional de Desarrollo e Investigacion
 en Tecnologias Libres - CENDITEL
